{% extends 'global/base.html' %}
{% load static %}
{% block linkcss %}{% static 'dashboard/css/dash-style.css' %}{% endblock linkcss %}
{% block title %}DashBoard{% endblock title %}
{% block content %}
    <section class="title-section container">
        <h2>Casos cadastrados</h2>
        <h3>Bem vindo, Filipe</h3>
    </section>
    <section class="cards-section container">
        {% for card in cards %}
            {% include 'dashboard/partials/card.html' %}
        {% empty %}
            <div class="center">
                <h1>Todos os casos estão resolvidos! </h1>
            </div>
        {% endfor %}
        
    </section>
{% endblock content %}


      