{% extends 'global/base.html' %}
{% load static %}
{% block linkcss %}{% static 'dashboard/css/dash-style.css' %}{% endblock linkcss %}
{% block title %}DashBoard{% endblock title %}
{% block content %}
    <section class="title-section container">
        <h2>Casos cadastrados</h2>
        <h3>Bem vindo, {{request.user.first_name}}!</h3>
    </section>
    {% if is_empty %}
        <div class="empty-center container">
            <h2>Todos os casos foram resolvidos! &#128513;</h2>
        </div>
    {% endif %}
    <section class="cards-section container">
        {% for card in cards %}
            {% include 'dashboard/partials/card.html' %}
        {% endfor %}
        
    </section>
{% endblock content %}


      