{% extends 'global/base.html' %}
{% load static %}
{% block linkcss %}{% static 'dashboard/css/dash-style.css' %}{% endblock linkcss %}
{% block title %}Meus casos{% endblock title %}
{% block content %}
    <section class="title-section container">
        <h2>Meus casos (Não publicados)</h2>
    </section>
    {% if is_empty %}
        <div class="empty-center container">
            <h2>Todos os seus casos foram publicados! &#128513;</h1>
        </div>
    {% endif %}
    <section class="cards-section container">
        {% for card in card_list %}
            {% include 'dashboard/partials/card.html' %}
        {% endfor %}
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if card_list.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ card_list.previous_page_number }}">Anterior</a>
            {% endif %}
    
            <span class="current">
                Pag. {{ card_list.number }} de {{ card_list.paginator.num_pages }}.
            </span>
    
            {% if card_list.has_next %}
                <a href="?page={{ card_list.next_page_number }}">Proxima</a>
                <a href="?page={{ card_list.paginator.num_pages }}">Ultima &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}


      