{% extends 'global/base.html' %}
{% load static %}
{% block linkcss %}{% static 'dashboard/css/dash-style.css' %}{% endblock linkcss %}
{% block title %}Meus casos{% endblock title %}
{% block content %}
    <section class="title-section container">
        <h2>Meus casos (Não publicados)</h2>
    </section>
    <section class="cards-section container">
        {% for card in cards %}
            {% include 'dashboard/partials/card.html' %}
        {% endfor %}
    </section>
{% endblock content %}


      