<div class="card">
    <div class="content">
        <div class="title-card">
            <h4 class="title-case">CASO</h4>
            <p class="info">{{card.title_of_case}}</p>
        </div>
        <div class="text">
            <h4 class="title-case">VALOR TOTAL</h4>
            <p class="info">R$ {{card.value_total}}</p>
        </div>
    </div>
    <div class="description">
        <h4 class="title-case">DESCRIÇÃO</h4>
        <p class="info">{{card.description}}</p>
    </div>

    {% if is_card_dash is True %}
        <div class="value">
            <div class="text">
                <h4 class="title-case">VALOR ACUMULADO</h4>
                <p class="info last">R$ {{card.value_received}}</p>
            </div>
            <div class="link-button">
                <a href="">Ajudar</a>
            </div>
        </div>
    {% endif %}

</div>
