{% extends 'global/base.html' %}
{% load static %}
{% block linkcss %}{% static 'authors/css/login.css' %}{% endblock linkcss %}
{% block title %}Login{% endblock title %}
{% block content %}
    <section class="wrapper container">
        <div class="text">
            <div class="logo-container">
                <a href="{% url 'authors:login' %}" class="logo">
                    <i class="fa-solid fa-heart menu-icon"></i>
                    <h1>AllForOne</h1>
                </a>
            </div>
    
            <div class="description">
                <h1>Faça o seu Logon</h1>
            </div>

            <div class="form-container">
                <form action="">
                    {% csrf_token %}
                    <input type="text" name="username" class="fields" id="fields" placeholder="Username">
                    <input type="text" name="username" class="fields" id="fields" placeholder="Senha"> 
                    <div class="buttons">
                        <a href="{% url 'dashboard:home' %}">
                            <i class="fa-brands fa-google"></i>
                            <h6>Google</h6>
                        </a>
                        <input type="submit" value="Entrar" class="submit">
                    </div>
                </form>
            </div>
            <div class="resetpass">
                <a href="">Esqueci minha senha &#128549;</a>
            </div>
            <div class="link-home">
                <a href="{% url 'authors:register' %}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <h3>Não tenho cadastro</h3>
                </a>
            </div>
        </div>
        
        <div class="image-container">
            <img src="{% static 'authors/images/img.svg' %}" alt="Pessoas se abraçando em solidariedade">
        </div>
    </section>
{% endblock content %}


