{% extends 'global/base.html' %}
{% load static %}
{% block linkcss %}{% static 'authors/css/register-style.css' %}{% endblock linkcss %}
{% block title %}Cadastre-se{% endblock title %}
{% block content %}
    <section class="wrapper container">
        <div class="text">
            <div class="logo-container">
                <a href="{% url 'authors:login' %}" class="logo">
                    <i class="fa-solid fa-heart menu-icon"></i>
                    <h1>AllForOne</h1>
                </a>
            </div>
    
            <div class="description">
                <h1>Cadastro</h1>
                <p>Faça seu cadastro, entre na plataforma e ajude pessoas com suas doações ou busque ajuda.</p>
            </div>
    
            <div class="link-home">
                <a href="/">
                    <i class="fa-solid fa-left-long"></i>
                    <h3>Voltar para o logon</h3>
                </a>
            </div>
        </div>
        
        <div class="form-register">
            <form action="{% url 'authors:register_create' %}" method="POST" class="form-container">
                {% csrf_token %}
                {% for field in form %}
                    {{field}}
                    {{field.errors}}
                {% endfor %}
                <input type="submit" value="Cadastrar" class="submit">

                {% if form.errors %}
                    <div class="message message-error">
                        Por favor, corrija os erros existentes antes de enviar o formulário!
                    </div>
                {% endif %}

            </form>
            {% if messages %}
                    <div class="message message-success">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
        </div>
    </section>
{% endblock content %}


