html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: #E5E5E5;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #E02041;
}

.logo .menu-icon {
    font-size: 4rem;
}

.logo h1{
    font-size: 4rem;
}

/* .logo h3 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    margin-left: 48px;
    color: #13131A;
    align-self: center;
} */

.buttons {
    display: flex;
    gap: 25px;
}

.buttons .new-case {
    padding: 20px 48px;
    background-color: #E02041;
    color: #F0F0F5;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.my-case {
    background-color: green;
}

.header-off {
    font-size: 2.5rem;
    padding: 20px 30px;
    background-color: #DCDCE5;
    border-radius: 8px;
    color: #E02041;
}

.title-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem;
}

.title-section h2,
.empty-center h2 {
    color: #13131A;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.title-section h3 {
    color: #13131A;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    padding-top: 20px;
}

.cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 8rem;
}

.card {
    background-color: #FFF;
    padding: 3rem;
    border-radius: 8px;
}

.card .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-case {
    margin-bottom: 1.6rem;
    color: #41414D;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.info {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #737380;
}

.info.last {
    margin-bottom: 0;
}

.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-button a {
    padding: 20px 30px;
    background-color: #34af23;
    color: #F0F0F5;
    font-weight: 700;
    font-size: 1.8rem;
    border-radius: 8px;

}

.link-button-mycase {
    display: flex;
    justify-content: center;
}

.empty-center {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

